* {
  touch-action: none
}

html, body {
  overflow: hidden;
}

body {
}

.container {
}

canvas {
   position: absolute;
  /*width: 300px;
  height: 300px;*/
  top: 10%;
  left: 0;
  width: 100%;
  height: 80%;
  /* border: 2px solid black; */
  background-color: #112A46;
  cursor: move;
}

.btn {
  position: absolute;
  background-color: #874caf;
  color: #ff7600;
  cursor: pointer;
  font-size: 4vh;
  /* border: 2px solid black; */
}

.btn2 {
  position: absolute;
  background-color: #175872;
  color: #ffffff;
  cursor: pointer;
  /* width: calc( (100vw - 60px) / 3); */
  /* border: 2px solid black; */
}


.top-btn {
  top: 0;
  left: 30%;
  right: 0;
  height: 10%;
}

.team_button{
  top: 0;
  left: 0;
  right: 70%;
  height: 10%;
}

.questions_panel {
  position: absolute;
  top: 10%;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1%;
  visibility: hidden;
  background-color: #edb321;
  -webkit-overflow-scrolling: touch;
}

.answer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

h1 {
    font-size: 6vh;
}
p {
  font-size: 3vh;
}
input {
  font-size: 3vh;
}

.selected_bus_stop_name{
  position: fixed;
  bottom: 5%;
  left: 0;
  width: 100%;
  height: 5%;
  background-color: rgb(135, 76, 175);
  color: #ff7600; /* text color */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2vh;
}

.sizes_of_the_map{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5%;
  background-color: rgb(135, 76, 175);
  color: #ff7600; /* text color */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2vh;
}

.answer_file{
  display: none;
}

.answer-button{
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    font-size: 3vh;
}