* {
  touch-action: none
}

html, body {
  overflow: hidden;
}

body {
}

.container {
}

canvas {
   position: absolute;
  /*width: 300px;
  height: 300px;*/
  top: 10%;
  left: 10%;
  right: 10%;
  width: 80%;
  height: 80%;
  /* border: 2px solid black; */
  background-color: #21edd5;
}

.btn {
  position: absolute;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  /* border: 2px solid black; */
}

.btn2 {
  position: absolute;
  background-color: #175872;
  color: #ffffff;
  cursor: pointer;
  /* width: calc( (100vw - 60px) / 3); */
  /* border: 2px solid black; */
}


.top-btn {
  top: 0;
  left: 10%;
  right: 10%;
  height: 10%;
}

.top_right_coordinate_display {
  position: fixed;
  top: 0;
  right: 0;
  width: 10%;
  height: 10%;
  background-color: rgba(0, 0, 0, 1);
  color: white; /* text color */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.top_left_scale_display {
  position: fixed;
  top: 0;
  left: 0;
  width: 10%;
  height: 10%;
  background-color: rgba(0, 0, 0, 1);
  color: #e84242; /* text color */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bottom_right_stop_name_display {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 10%;
  height: 10%;
  background-color: rgba(0, 0, 0, 1);
  color: #e8c142; /* text color */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bottom_left_click_coordinate_display {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 10%;
  height: 10%;
  background-color: rgba(0, 0, 0, 1);
  color: #42e869; /* text color */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.questions_panel {
  position: absolute;
  top: 10%;
  left: 10%;
  bottom: 10%;
  right: 10%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1%;
  visibility: hidden;
  background-color: #edb321;
}

.answer{
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}